body {
  color: orangered;
  background-color: slateblue;
  padding: 0px 20px 20px 20px;
}
h1 {
  text-align: center;
  border-bottom: 1px solid white;
  color: #db8553;
}
#SalaryTable {
  text-align: -internal-center;
  width: 100%;
  margin-top: 5px;
  background-color: rgb(27, 26, 25);
}
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid gray;
}
th {
  background-color: paleturquoise;
  padding: 10px;
  box-shadow: 5px 10px #888888
}
tr:last-child td {
  border-bottom: 0px;
}
p {
  text-align: right;
  color: greenyellow;
  border-top: 2px;
  border-right: 2px white;
  border-left: 2px white;
}
