body {
  background-color: slateblue;
  padding: 0px 20px 20px 20px;
}
h1 {
  text-align: center;
  border-bottom: 1px solid white;
  color: #db8553;
}
#SalaryTable {
  text-align: -internal-center;
  width: 100%;
  margin-top: 5px;
  border: greenyellow;
  
}
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid gray;
}
th {
  background-color: paleturquoise;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
p {
  text-align: right;
}
.over-budget{
    color: red;
}
.under-budget{
    color: green;
}
